.TextGenerator {
    margin-top: 4%;
    margin-bottom: 4%;
    min-height: 400px;
}

.textOutputContainer {
    border: solid 1.7px black;
    width: 100%;
    height: 70%;
    color: black;
    overflow-y: scroll;
    font-size: larger;
}

.textInput {
    padding: 7px;
    letter-spacing: 1px;
    border-left: solid 1.7px black;
    border-bottom: solid 1.7px black;
    border-top: none;
    border-right: none;
    color: black;

}

.textInputForm {
    display: grid;
    grid-template-columns: 7fr 1fr;
    gap: 4%;
    margin-top: 40px;
}

.textInputForm > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: linear-gradient(135deg, #2a003f, #3b004f, #12000f);
    border-color: #fff;
    color: #fff;
    font-size: larger;
}

.textInputForm > button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.textOutput {
    margin-left: 4%;
    margin-right: 4%;
    margin: 1.8%;
}